
@model AccountSettingVM

    <section id="accountSettings">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1 class="TitleText">
                        Account Settings
                    </h1>
                </div>
                <ul>
                    <li class="colorChange"><a asp-controller="Order" asp-action="AccountOrders">ORDERS</a></li>
                    <li class="colorChange"><a href="./accountAdress.html">ADRESSES</a></li>
                    <li class="colorChange"><a asp-controller="Wishlist" asp-action="Index">WISH LISTS</a></li>
                    <li class="current">ACCOUNT SETTINGS</li>
                </ul>

                <div class="content">
                    <form asp-controller="Account" asp-action="AccountDetails">
                        <div class="row">
                            <div class="name col-lg-6 col-12">
                                <label asp-for="UserName" >User Name:</label><br>
                                <input asp-for="UserName" value="@Model.UserName">
                            </div>

                            <div class="email col-lg-6 col-12">
                                <label asp-for="Email" >Email Adress:</label><br>
                                <input asp-for="Email" value="@Model.Email" readonly>
                            </div>

                            <div class="passwordOld col-lg-6 col-12">
                                <label asp-for="CurrentPassword" >Current Password:</label><br>
                                <input asp-for="CurrentPassword">
                            </div>

                            <div class="passwordOld col-lg-6 col-12">
                                <label  asp-for="NewPassword">Password:</label><br>
                                <input asp-for="NewPassword">
                            </div>

                            <div class="passwordOld col-lg-12 col-12">
                                <label  asp-for="ConfirmNewPassword">Confirm Password:</label><br>
                                <input  asp-for="ConfirmNewPassword">
                            </div>



                            <button type="submit" class="button button--primary">Update Details</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
