
#MainHeader {
    background-color: #232f3f;

    &.headerScroll {
        background-color: #232f3fee;
        position: sticky;
        z-index: 1000000000;
        transition: .5s;
        top: 0;
    }

    .upper {
        display: flex;
        align-items: center;
        height: 50px;

        .info {
            p {
                color: white;
                font-size: 13px;
                margin: 0;
                font-family: 'Rubik', sans-serif;

                span {
                    font-size: 14px;
                    margin-left: -4px;
                    font-family: 'Rubik', sans-serif;
                }

                &:hover {
                    color: #ff7e00;
                    cursor: pointer;
                }
            }
        }

        .nav {
            display: flex;
            justify-content: end;

            li {
                color: white;
                font-size: 13px;
                margin-right: 20px;
                font-family: 'Rubik', sans-serif;

                a {
                    color: white;
                    text-decoration: none;
                    font-family: 'Rubik', sans-serif;

                    &:hover {
                        color: #ff7e00;
                    }
                }

                &:hover {
                    color: #ff7e00;
                    cursor: pointer;
                }
            }

            .login {
                position: relative;

                i {
                    margin-left: 2px;
                    font-size: 10px;
                }

                .empty {
                    height: 10px;
                    width: 10px;
                    background-color: white;
                    position: absolute;
                    left: 66px;
                    top: 26px;
                    transform: rotateZ(45deg);
                }

                .panel {
                    z-index: 200;
                    border-radius: 3px;
                    width: 150px;
                    position: absolute;
                    background-color: white;
                    border: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    padding-bottom: 10px;
                    right: 1px;
                    top: 30px;

                    ul {
                        padding-left: 15px;

                        li {
                            list-style: none;
                            padding-top: 10px;

                            a {
                                color: #666;
                                font-family: 'Rubik', sans-serif;
                            }
                        }
                    }
                }
            }

            .price {
                display: flex;

                i {
                    margin-top: 4px;
                    margin-left: 3px;
                    font-size: 10px;
                }
            }
        }
    }

    .middle {
        border-top: 1px solid rgba(255, 255, 255, .06);
        border-bottom: 1px solid rgba(255, 255, 255, .06);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            img {
                width: 94%;
            }
        }

        .input {
            input {
                width: 90%;
                height: 45px;
                border-radius: 22px;
                margin-left: 15px;

                &::placeholder {
                    padding: 10px;
                    padding-left: 30px;
                    font-size: 14px;
                    font-family: 'Rubik', sans-serif;
                }
            }
        }

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;

            .accountIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .emptyMyAcc {
                    height: 10px;
                    width: 10px;
                    background-color: white;
                    position: absolute;
                    left: 17px;
                    top: 49px;
                    transform: rotateZ(45deg);
                }

                .panelMyAcc {
                    padding-top: 6px;
                    border-radius: 3px;
                    width: 150px;
                    position: absolute;
                    background-color: white;
                    border: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    padding-bottom: 10px;
                    left: 11px;
                    top: 52px;
                    z-index: 200;

                    ul {
                        padding-left: 15px;
                        font-size: 14px;
                        li {
                            display: block;
                            list-style: none;
                            padding-top: 5px;
                            a {
                                color: #666;
                                text-decoration: none;
                                font-family: 'Rubik', sans-serif;
                            }
                        }
                    }
                }

                .icon {
                    border: 1px solid gray;
                    border-radius: 50%;
                    padding: 7px;
                    width: 40px;
                    height: 40px;
                    text-align: center;

                    i {
                        color: #ff7e00;
                        font-size: 18px;
                        transition: .6s;
                    }

                    transition: .6s;

                    &:hover {
                        background-color: #ff7e00;

                        i {
                            color: white;
                        }
                    }

                    margin-right: 8px;
                }

                .text {
                    font-family: 'Rubik', sans-serif;

                    .hello {
                        color: white;
                    }

                    .account {
                        color: #8d9297;
                    }

                    span {
                        display: block;
                        font-size: 13px;
                    }
                }
            }

            .basketIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .emptyBasketItems {
                    height: 15px;
                    width: 15px;
                    background-color: white;
                    position: absolute;
                    left: 14px;
                    top: 46px;
                    transform: rotateZ(45deg);
                }

                .panelBasketItems {
                    padding-top: 10px;
                    border-radius: 3px;
                    width: 290px;
                    position: absolute;
                    background-color: white;
                    border: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    padding-bottom: 10px;
                    right: -22px;
                    top: 52px;
                    z-index: 5000;

                    ul {

                        padding-left: 10px;

                        li {
                            list-style: none;
                            padding-top: 10px;
                            border-bottom: 1px solid #e5e5e5;

                            .product {
                                display: flex;

                                .image {
                                    img {
                                        width: 65px;
                                    }
                                }

                                .about {
                                    margin-left: 15px;

                                    .name {
                                        font-family: 'Rubik', sans-serif;
                                        color: #666;

                                        a {
                                            font-size: 14px;
                                            color: #666;
                                            text-decoration: none;
                                            font-family: 'Rubik', sans-serif;

                                            &:hover {
                                                color: #ff7e00;
                                            }
                                        }
                                    }

                                    .priceCount {
                                        font-family: 'Rubik', sans-serif;
                                        color: #ff7e00;
                                    }
                                }
                            }
                        }
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-evenly;

                        .goOrder {
                            a {
                                border-radius: 20px;
                                text-align: center;
                                padding-top: 4px;
                                display: inline-block;
                                width: 132px;
                                height: 30px;
                                font-size: 13px;
                                text-decoration: none;
                                background-color: #232f3f;
                                color: white;
                            }
                        }

                        .goCart {
                            a {
                                border-radius: 20px;
                                text-align: center;
                                padding-top: 4px;
                                display: inline-block;
                                width: 132px;
                                height: 30px;
                                font-size: 13px;
                                text-decoration: none;
                                background-color: #ff7e00;
                                color: white;
                            }
                        }
                    }
                }

                .icon {
                    border: 1px solid gray;
                    border-radius: 50%;
                    padding: 7px;
                    width: 40px;
                    height: 40px;
                    text-align: center;

                    i {
                        color: #ff7e00;
                        font-size: 18px;
                        transition: .6s;
                    }

                    transition: .6s;

                    &:hover {
                        background-color: #ff7e00;

                        i {
                            color: white;
                        }
                    }

                    margin-right: 8px;
                }

                .text {
                    font-family: 'Rubik', sans-serif;

                    .cards {
                        color: white;
                    }

                    .item {
                        color: #8d9297;
                    }

                    span {
                        display: block;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .bottom {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .categories {
            &:hover .panelCategory {
                display: block;
            }

            cursor: pointer;
            position: relative;
            border-top-right-radius:5px;
            border-top-left-radius:5px;
            height: 50px;
            background-color: #ff7e00;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;

            .allCategory {
                color: white;
                font-family: 'Rubik', sans-serif;
                margin-left: 15px;
            }

            .icon {
                color: white;
                margin-right: 20px;

                i {
                    font-size: 25px;
                }
            }

            .panelCategory {
                display: none;
                position: absolute;
                top: 50px;
                width: 306px;
                background-color: white;
                border: 2px solid #ff7e00;
                z-index: 11;

                ul {
                    padding: 10px;

                    li {
                        list-style: none;
                        margin-top: 15px;
                        border-bottom: 1px solid #d0d7ded6;

                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }

        nav {
            display: flex;
            justify-content: start;
            align-items: center;

            ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: start;
                align-items: center;

                li {
                    list-style: none;
                    margin-left: 25px;
                    font-size: 14px;

                    a {
                        transition: .4s;
                        text-decoration: none;
                        color: white;
                        font-family: 'Rubik', sans-serif;

                        &:hover {
                            color: #ff7e00;
                        }
                    }
                }
            }
        }
    }
}

#secondaryHeader {
    background-color: #232f3f;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hamburgerMenu{
        border-bottom: 1px solid #8f8f8f;
        position: absolute;
        top:53px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: white;
        width: 100%;
        z-index: 300000;
        ul{
            padding: 0;
            margin: 0;
            li{
                margin-top: 15px;
                list-style: none;
                a{
                    text-decoration: none;
                    color: #666;
                }
            }
        }
    }
    .upperRow {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: white;
        }

        .image {
            text-align: center;
        }

        .menu {
            text-align: start;
            
        }

        .basketIcon {
            position: relative;
            text-align: end;

            .item {
                width: 15px;
                height: 15px;
                position: absolute;
                background-color: red;
                color: white;
                right: -5px;
                bottom: 11px;
                border-radius: 50px;
                padding: 2px;

                span {
                    position: absolute;
                    left: 4px;
                    bottom: -1px;
                    font-size: 12px;
                }
            }
        }
    }

    .bottomRow {
        .inputDiv {
            padding-top: 20px;
            font-family: 'Rubik', sans-serif;

            input {
                height: 35px;
                width: 100%;
                border-radius: 5px;
                border: none;
            }
        }
    }
}

#register{
    padding-top: 20px;
    padding-bottom: 20px;
    .title{
        padding-bottom: 20px;
        h3{
            font-family: 'Rubik', sans-serif;
            font-size: 27px;
            font-weight: 600;
        }
    }
    form{
        label{
            font-family: 'Rubik', sans-serif;
            color: #666;
            font-size: 15px;
        }
        input{
            font-family: 'Rubik', sans-serif;
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
            width: 100%;
            height: 40px;
        }
        .button{
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-family: 'Rubik', sans-serif;
                padding-top: 6px;
                text-align: center;
                border-radius: 20px;
                width: 170px;
                height: 35px;
                display: block;
                text-decoration: none;
                background-color: #444;
                border-color: #444;
                color: #fff;
                transition: .4s;
                font-size: 14px;
                &:hover{
                    text-decoration: none;
                    background-color: #878787;
                    border-color: #878787;
                    color: #fff;  
                }
            }
        }
    }
}


footer {
    background-color: #232f3f;

    .upper {
        padding: 45px;

        .accordionFooter{
            .accordion{
                border: none !important;
                .accordion-item{
                border: none !important;

                    .accordion-header{
                        button{
                            border-color: #232f3f;
                            background-color: #232f3f ;
                            color: white;
                            border: none;
                            ::after{
                                color: white !important;
                            }
                        }
                    }
                }
                .accordion-collapse{
                         border: none !important;

                    .accordion-body{
                         border: none !important;

                        border-color: #232f3f;
                        background-color: #232f3f;
                        ul{
                            padding: 0;
                            margin: 0;
                            li{
                                list-style: none;
                                a{
                                    text-decoration: none;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .logo-info {
            .adress {
                .ear {
                    margin-top: 20px;
                    display: flex;

                    .text {
                        font-family: 'Rubik', sans-serif;

                        ul {
                            padding: 0;
                            margin: 0;
                            margin-left: 10px;

                            li {
                                list-style: none;
                                color: white;

                                a {
                                    text-decoration: none;
                                    color: #ff7e00;
                                    transition: .4s;

                                    &:hover {
                                        color: white;
                                    }
                                }
                            }

                            .hot {
                                font-size: 13px;
                            }
                        }
                    }
                }

                address {
                    font-family: 'Rubik', sans-serif;
                    margin-top: 10px;
                    color: #93979c;
                    font-size: 15px;
                }

                .email {
                    font-family: 'Rubik', sans-serif;
                    color: #93979c;

                    a {
                        font-family: 'Rubik', sans-serif;
                        text-decoration: none;
                        color: #ff7e00;
                        transition: .4s;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        .information {
            margin-left: 20px;
        }

        .information,
        .brands,
        .categories {
            .title {
                font-family: 'Rubik', sans-serif;
                color: white;
                font-size: 20px;
            }

            .nav {
                margin-top: 20px;

                ul {
                    padding: 0;
                    margin: 0;
                    line-height: 35px;
                    font-size: 15px;

                    li {
                        font-family: 'Rubik', sans-serif;
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: #93979c;
                        }
                    }
                }
            }
        }
    }

    .bottomLine {
        padding: 20px;
        border-top: 1px solid rgba(255, 255, 255, .06);

        .text {
            p {
                margin: 0;
                color: #93979c;
                font-size: 14px;

                a {
                    text-decoration: none;
                    color: #ff7e00;
                    transition: .5s;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .paymant {
            ul {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    list-style: none;
                    color: #93979c;
                    margin-right: 15px;

                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }