
@model Brand

@{
    ViewData["Title"] = "Detail";
}


<h1>
    @Model.Name
</h1>

<div style="padding: 20px;">
    <a style="text-decoration:none; color:black;" asp-action="Index">Back to List</a>
</div>