
    <section id="accountInfo">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1 class="TitleText">
                        Orders
                    </h1>
                </div>
                <ul>
                    <li class="current">ORDERS</li>
                    <li class="colorChange"><a href="./accountAdress.html">ADRESSES</a></li>
                    <li class="colorChange"><a asp-controller="Wishlist" asp-action="Index">WISH LISTS</a></li>
                    <li class="colorChange"><a asp-controller="Account" asp-action="AccountDetails">ACCOUNT SETTINGS</a></li>
                </ul>

                <div class="content" style="padding-left: 0; padding-top: 20px;">
                    <div class="alertMessage">
                        <div class="alert alert-primary" role="alert">
                            You haven't placed any orders with us. When you do, their status will appear on this page.
                        </div>
                    </div>

                    <div class="mainContent">
                        <div class="image">
                            <img src="~/assets/images/Product/2__54401.jpg" alt="">
                        </div>
                        <div class="name">
                            <span><a href="">Apple Watch</a></span>
                        </div>
                        <div class="price">
                            <span>$800</span>
                        </div>
                        <div class="date">
                            20/02/20
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
