
@model DeliveryInformation

    <section id="pages">
        <div class="container">
            <div class="row">

                <div class="Page">
                    <div class="title">
                        <h4>Pages</h4>
                    </div>
                    <div class="text">
                        <p>
                            <em>
                                To edit this page simply login to the control panel, click the Website Content tab and choose the View Web Pages option. Click Edit next to the Shipping & Returns page and you can change this text. A sample returns policy is shown below which you can edit as needed.
                            </em>
                        </p>
                    </div>
                </div>
                <div class="return">
                    <div class="title">
                        <h4>Returns Policy</h4>
                    </div>
                    <div class="text">
                        <p>
                            <em>
                                @Model.AboutReturnRequest
                            </em>
                            <em style="margin-top: 20px; display: inline-block;">
                                If you need to return an item, please <a asp-controller="Contact" asp-action="Index" style="color:#ff7e00; text-decoration: none;">Contact Us</a> with your order number and details about the product you would like to return. We will respond quickly with instructions for how to return items from your order.
                            </em>
                        </p>
                    </div>
                </div>
                <div class="shipping">
                    <div class="title">
                        <h4>Shipping</h4>
                    </div>
                    <div class="text">
                        <p>
                            <em>
                                @Model.Shipping
                            </em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

