@model Memory

@{
    ViewData["Title"] = "Detail";
}

<h1 style="padding:20px;">
    @Model.MemoryName
</h1>

<div style="padding: 20px;">
    <a style="text-decoration:none; color:black;" asp-action="Index">Back to List</a>
</div>