


<section>
    <div class="container">
        <div class="row">
            <div class="welcome col-lg-12">
                <div class="title">
                    <h2>Your account has been created</h2>
                </div>
                <div class="text">
                    Thank you for creating your account at Razor Home!. Your account details have been emailed to nameOfEmail
                </div>
                <div class="button">
                    <a asp-controller="Home" asp-action="Index">
                        CONTINUE SHOPPING
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>